<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dc.rest.mapper.CustomerMapper">

   <resultMap id="customerMap" type="com.dc.rest.model.Customer">
	<result property="id" column="CUST_ID" jdbcType="NUMERIC"/>
    <result property="firstName" column="FIRST_NAME" jdbcType="VARCHAR"/>
    <result property="lastName" column="LAST_NAME" jdbcType="VARCHAR"/>
    <result property="company" column="company" jdbcType="VARCHAR"/>
    <result property="addr1" column="addr1" jdbcType="VARCHAR"/>
    <result property="addr2" column="addr2" jdbcType="VARCHAR"/>
    <result property="city" column="city" jdbcType="VARCHAR"/>
    <result property="state" column="state" jdbcType="VARCHAR"/>
    <result property="zip" column="ZIP" jdbcType="VARCHAR"/>
    <result property="country" column="COUNTRY" jdbcType="VARCHAR"/>
    <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
    <result property="fax" column="FAX" jdbcType="VARCHAR"/>
    <result property="email" column="EMAIL" jdbcType="VARCHAR"/>
    <result property="createDt" column="CREATED_DATE" jdbcType="DATE"/>
    <result property="createdByUser" column="USERID" jdbcType="VARCHAR"/>
    <result property="idNumber" column="ID_NUMBER" jdbcType="VARCHAR"/>
    <result property="idType" column="ID_TYPE" jdbcType="VARCHAR"/>
    <result property="note" column="NOTE" jdbcType="VARCHAR"/>
    <result property="dnr" column="DNR" jdbcType="NUMERIC"/>
    <result property="swipeData" column="SWIPEDATA" jdbcType="VARCHAR"/>
    <result property="imageFileLoc" column="IMGFILE" jdbcType="VARCHAR"/>
  </resultMap>

	<resultMap id="customerDnr" type="com.dc.rest.model.CustomerDnr">
        <result property="dnrId" column="KEYID"/>
        <result property="customerId" column="CUSTOMERKEYID"/>
        <result property="roomNbr" column="ROOM_NUMBER"/>
        <result property="markingDate" column="MARKING_DT"/>
        <result property="userId" column="CREATEDBY"/>
        <result property="dnrInfo" column="DNRINFO"/>
    </resultMap>


	<select id="findByCustomerId" resultMap="customerMap" parameterType="Integer">
		SELECT
		  *
		FROM
			Customer
		WHERE
			CUST_ID=#{custid};
	</select>

    <select id="getCustomerByName" resultMap="customerMap" parameterType="java.util.HashMap">
        SELECT
			*
        FROM customer
        WHERE 1=1
        <if test="lastname != null">
	    	and lower(Name_Last) like (#{lastName})
	    </if>
        <if test="firstname != null">	    
 	    	and lower(Name_first) like (#{firstName})
 	    </if>
        <if test="sid != null">	   
	 		and upper(Id_Number) like (#{sId})         
	 	</if>
	     order by cust_id;       	    
    </select>



    <select id="getCustomerDnrByCustomerId" resultMap="customerDnr" parameterType="java.lang.Integer">
      SELECT KEYID, CUSTOMERKEYID, ROOM_NUMBER, MARKING_DT, CREATEDBY, DNRINFO FROM CUSTOMER_DNR
      where CUSTOMERKEYID = #{value}
 		order by MARKING_DT DESC
    </select> 

    <insert id="addDnr" parameterType="com.dc.rest.model.CustomerDnr">
			INSERT INTO CUSTOMER_DNR(CUSTOMERKEYID,ROOM_NUMBER,MARKING_DT,CREATEDBY,DNRINFO) VALUES (#customerId#,#roomNbr#,#markingDate#,#userId#,#dnrInfo#);
			<selectKey resultType="Integer" order="AFTER">
      			select LAST_INSERT_ID() AS customerId
    		</selectKey>
    </insert>  

</mapper>